@use './variables' as v;

.rotate-animation {
  animation-name: rotatePointerAnim;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  transform-origin: bottom center;
}

@keyframes rotatePointerAnim {
  from {  
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.grow-animation {
  animation-name: growAnimation;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes growAnimation{
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}


.shrink-animation {
  animation-name: shrinkAnimation;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes shrinkAnimation {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}



