@use './variables' as v;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: v.$clr-dark;
}


::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  appearance: none;
}

button,
input,
select,
label {
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
}