// Color
$clr-light: hsl(0, 0%, 67%);
$clr-dark: hsl(198, 53%, 19%);
$clr-bright: hsl(0, 38%, 54%);
$clr-accent-light: hsl(354, 8%, 25%);
$clr-accent-dark: hsl(332, 24%, 12%);
$clr-accent-bright: hsl(359, 55%, 53%);
$clr-btn-hover: hsl(332, 24%, 11%);

// Font weight
$fw-regular: 400;
$fw-thick: 500;
$fw-bold: 600;